{
  "openapi": "3.0.0",
  "info": {
    "title": "ShiprocketAPI Documentation",
    "description": "Welcome to ShipRocket’s API Documentation. Get a clear understanding of all the sections and codes that are used in ShipRocket’s API. ShipRocket API uses the JSON syntax.\n\nFirst, you need to register with ShipRocket and create an account. Simply click on this [link](https://app.shiprocket.in/register) to complete the simple sign up process.\n\nPlease note that to utilize the ShipRocket API’s, you need to [upgrade](https://app.shiprocket.in/billing-plan-details) your plan to Advance or Pro. To get access to use the API’s, below the following steps:\n \n1. Navigate to Shiprocket Settings -> Company.\n2. Click on Generate API User Menu and then Click on Create API User.\n3. Please enter a Valid Email ID which is different from currently used registered email.\n4. Input an appropriate password.\n5. The next step will be to use the Authentication API in the given URL to Generate your Token for each request.\n\n ***API End-Point: https://apiv2.shiprocket.in*** \n\n **Steps to Use Shiprocket API's**\n1. Generate the token using the *Authentication API* **(/v1/external/auth/login)**.\n2. Authenticate the API's by passing the token in the headers of each request as ***'Authorization: Bearer token_value'***.\n 3. Create an Order using the *Create Custom Order API* **(/v1/external/orders/create/adhoc)**.\n4. Assign AWB using *AWB creation API* **(/v1/external/courier/assign/awb)**. \n5. Request for PickUp using the *Request PickUp API* **(/v1/external/courier/generate/pickup)**.\n 6. Track your shipment using *Tracking API* **(/v1/external/track/awb/{awb_code}).**\n \nFor more queries you can drop an email to support@shiprocket.in .",
    "version": "2.0"
  },
  "servers": [
    {
      "url": "https://apiv2.shiprocket.in/"
    },
    {
      "url": "https://gmail.com/"
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "Use this API to generate token"
    },
    {
      "name": "Create/Update Order",
      "description": "Use these API's to Create a new Order or Update the existing ones"
    },
    {
      "name": "Orders",
      "description": "Use these API's to get the details about the Orders"
    },
    {
      "name": "Shipments",
      "description": "Use these API's to get Shipment details"
    },
    {
      "name": "Couriers",
      "description": "Use these API's to Check Serviceability, Assign AWB or Request For PickUp."
    },
    {
      "name": "Label | Manifests | Invoice",
      "description": "Use These API's to Generate or Print Label, Manifest and Invoice"
    },
    {
      "name": "Wrapper API",
      "description": "Use this API to Create & Ship Order"
    },
    {
      "name": "Tracking",
      "description": "Use these API's to get the Tracking Details"
    },
    {
      "name": "Pickup Address",
      "description": "Use this API to get available PickUp Addresses"
    },
    {
      "name": "Products",
      "description": "Use these API's to get/update details about Products"
    },
    {
      "name": "Listings",
      "description": "Use these API's to get/update details of Product Listings"
    },
    {
      "name": "Channels",
      "description": "Use These API's to get details about Integrated Channels"
    },
    {
      "name": "Inventory",
      "description": "Use These API's to get/update details about Inventory"
    },
    {
      "name": "Statement",
      "description": "Use this API to get transaction details of your SR account"
    },
    {
      "name": "Discrepancy",
      "description": "Use this API to get details of Weight Descripancy raised"
    },
    {
      "name": "File Imports",
      "description": "Use this API to get details of file Imports"
    },
    {
      "name": "Countries",
      "description": "Use these API's to get Countries & details"
    }
  ],
  "paths": {
    "/v1/external/auth/login": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Use this API to generate your Authentication token.",
        "description": "The token is the authorization key that you need to pass before using the ShipRocket API's. \n\nGenerating the token is an extremely simple process. Simply type in your email id (alternate id for the ShipRocket API) and all your details will be generated.\n \n| Steps to Use Token\n  -----|\n 1. Copy the ***Token*** recieved in Response. \n2. Click on ***Authorize*** Button.\n3. Type ***Bearer &lt;token&gt;*** in the ***Value***.\n4. Click on ***Authorize*** and close the pop-up.\n5. Now you can use all the api's.\n\n Note: ***The token is valid for 4 days. Post that you have to regenerate the token.***",
        "operationId": "Get token",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetTokenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400Error"
                }
              }
            }
          },
          "422": {
            "description": "invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/login422Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/external/countries": {
      "get": {
        "tags": [
          "Countries"
        ],
        "summary": "Countries",
        "description": "Shows all the countries which are present in the ShipRocket database. ShipRocket API provides ISO Code 2 and ISO Code 3 country options and has a total of 44 countries in its database. This allows you to use these countries in your own dropdown menu.",
        "operationId": "Get countries",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCountriesResponse"
                }
              }
            }
          },
          "405": {
            "description": "method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/405Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/external/countries/show/{id}": {
      "get": {
        "tags": [
          "Countries"
        ],
        "summary": "Get all zones",
        "description": "Shows all the zones which are present within a country.",
        "operationId": "Get zones",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The specific id of the country in integer format",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Name of the specific zone",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetZonesResponse"
                }
              }
            }
          },
          "404": {
            "description": "404 not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/external/products": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Get Products",
        "description": "Shows all the details of all the products that a ShipRocket user has. This can be filtered according to details like number of products per page, ascending or descending sorting order. ",
        "operationId": "Get products",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The page number which is to be displayed",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "The total number of products in each page",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Whether to arrange the items in ascending or descending order(DESC, ASC)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Allows to choose the value field by which the items will be sorted. Could be sorted by id, by sku, time created etc.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Value by which the results will be filtered",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter_by",
            "in": "query",
            "description": "Validation of filtered value (data to be matched)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetProductsResponse"
                }
              }
            }
          },
          "401": {
            "description": "unauthorized access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "Products"
        ],
        "summary": "Add new Products",
        "description": "Add new product",
        "operationId": "Add",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "invalid data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/addProduct422"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/external/products/show/{id}": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Show",
        "description": "Shows individual product details",
        "operationId": "Show",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id = The product id which is to be shown and the input should be in an integer format",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShowResponse"
                }
              }
            }
          },
          "400": {
            "description": "invalid product id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/show400"
                }
              }
            }
          },
          "404": {
            "description": "no id provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/external/products/import": {
      "post": {
        "tags": [
          "Products"
        ],
        "summary": "Bulk import",
        "description": "This section shows the API for exporting the data of all your product and inventory details from the ShipRocket panel.",
        "operationId": "Bulk import",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/productImportResponse"
                }
              }
            }
          },
          "403": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/import403"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/external/products/export": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Bulk Sample",
        "description": "Downloads all Products Details in CSV format",
        "operationId": "Bulk export",
        "responses": {
          "200": {
            "description": "import succes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bulkExportResponse"
                }
              }
            }
          },
          "401": {
            "description": "unauthorized access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/export401"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/external/products/sample": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Get a sample format to Import Products",
        "description": "Export a sample CSV file for importing",
        "operationId": "Bulk sample",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/external/settings/company/pickup": {
      "get": {
        "tags": [
          "Pickup Address"
        ],
        "summary": "Get All Pickup locations",
        "description": "Get Your pickup locations",
        "operationId": "get pickup locations",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPickupResponse"
                }
              }
            }
          },
          "401": {
            "description": "unauthorized access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/export401"
                }
              }
            }
          },
          "405": {
            "description": "method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/405Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/external/settings/company/addpickup": {
      "post": {
        "tags": [
          "Pickup Address"
        ],
        "summary": "Add a new pickup location",
        "description": "Add a new pickup location",
        "operationId": "add pickup location",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "address",
                  "address_2",
                  "city",
                  "country",
                  "email",
                  "name",
                  "phone",
                  "pickup_location",
                  "pin_code",
                  "state"
                ],
                "properties": {
                  "pickup_location": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string",
                    "description": "length 8 characters"
                  },
                  "email": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "integer"
                  },
                  "address": {
                    "type": "string",
                    "description": "max 80 characters"
                  },
                  "address_2": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  },
                  "state": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  },
                  "pin_code": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddPickupResponse"
                }
              }
            }
          },
          "401": {
            "description": "unauthorized access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/export401"
                }
              }
            }
          },
          "405": {
            "description": "method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/405Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/external/listings": {
      "get": {
        "tags": [
          "Listings"
        ],
        "summary": "Get all Listings",
        "description": "Get a JSON representation of all listings",
        "operationId": "Get all",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number of the data which is to be displayed",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of channel orders listed in each page",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The order in which the listings should be sorted",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Allows to choose the value field by which the items will be sorted. Could be sorted by id, by sku, time created etc.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Value by which the results will be filtered",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter_by",
            "in": "query",
            "description": "Validation of filtered value (data to be matched)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAllResponse"
                }
              }
            }
          },
          "401": {
            "description": "unauthorized access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/export401"
                }
              }
            }
          },
          "405": {
            "description": "method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/405Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/external/listings/import": {
      "post": {
        "tags": [
          "Listings"
        ],
        "summary": "Import Catalog mappings",
        "description": "Import CSV containing channel catalog to master catalog mappings",
        "operationId": "Bulk import1",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "File required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/listing400"
                }
              }
            }
          },
          "401": {
            "description": "unauthorized access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/export401"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/external/listings/export/mapped": {
      "get": {
        "tags": [
          "Listings"
        ],
        "summary": "Export Mapped",
        "description": "Export mapped- Downloads the list of mapped items in the channel catalog sheet. After mapping items you can see the number of products of one channel, which are present in the Master Catalog.",
        "operationId": "Export mapped",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bulkExportResponse"
                }
              }
            }
          },
          "401": {
            "description": "unauthorized access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/export401"
                }
              }
            }
          },
          "405": {
            "description": "method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/405Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/external/listings/export/unmapped": {
      "get": {
        "tags": [
          "Listings"
        ],
        "summary": "Export Unmapped",
        "description": "Downloads the list of unmapped items in the channel catalog sheet.",
        "operationId": "Export un-mapped",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bulkExportResponse"
                }
              }
            }
          },
          "401": {
            "description": "unauthorized access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/export401"
                }
              }
            }
          },
          "405": {
            "description": "method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/405Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/external/listings/sample": {
      "get": {
        "tags": [
          "Listings"
        ],
        "summary": "Export sample",
        "description": "Downloads a sample of the catalog sheet.",
        "operationId": "Export sample",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bulkExportResponse"
                }
              }
            }
          },
          "401": {
            "description": "unauthorized access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/export401"
                }
              }
            }
          },
          "405": {
            "description": "method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/405Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/external/listings/link": {
      "post": {
        "tags": [
          "Listings"
        ],
        "summary": "Map",
        "description": "This API helps you map your channel product to a product present in master catalog",
        "operationId": "Map",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MapRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Linking success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Input not Defined",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400Error"
                }
              }
            }
          },
          "401": {
            "description": "unauthorized access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/export401"
                }
              }
            }
          },
          "405": {
            "description": "method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/405Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/external/orders": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get all orders",
        "description": "The ShipRocket API for getting all the orders of a single seller. In this API the product and shipment activities will have sub arrays for individual products and shipments.\n **Filter values:** \n\n filter_by | filter | description \n ---- | ---- | ---- \n **payment_method** | | \n -> | cod | cash on delivery orders \n -> | Prepaid |  for prepaid orders\n **status** | |\n -> | 1 | New \n -> | 2 | Invoiced \n -> | 3 | Ready To Ship \n -> | 4 | Pickup Scheduled \n -> | 5 | Cancelled \n -> | 6 | Shipped \n -> | 7 | Delivered \n -> | 8 | e-Payment Failed \n -> | 9 | Returned \n -> | 10 | Unmapped \n -> | 11 | Out of Stock \n -> | 12 | Pickup Queued \n -> | 13 | Pickup Rescheduled \n -> | 14 | Pickup error// Created when there is an error on pickup schedule \n -> | 15 | RTO initiated \n -> | 16 | RTO delivered \n -> | 17 | RTO Acknowledged \n -> | 18 | Cancellation Request \n -> | 19 | Out for Delivery \n -> | 20 | In Transit",
        "operationId": "Get all orders",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number of data to display",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of orders to get per request",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort type (DESC, ASC)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Field to sort by (id, status)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "To date",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "From date",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Filter value",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter_by",
            "in": "query",
            "description": "Field to filter by",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search for AWB or Channel Order ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOrdersResponse"
                }
              }
            }
          },
          "401": {
            "description": "unauthorized access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/export401"
                }
              }
            }
          },
          "405": {
            "description": "method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/405Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/external/orders/show/{id}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get order Details",
        "description": "Get order and shipment details",
        "operationId": "Get order",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The order id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOrderResponse"
                }
              }
            }
          },
          "401": {
            "description": "unauthorized access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/export401"
                }
              }
            }
          },
          "405": {
            "description": "method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/405Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/external/orders/fetch": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Fetch Orders from channel into Shiprocet App",
        "description": "Starts a background job which will fetch orders from all channels.",
        "operationId": "Fetch orders",
        "responses": {
          "204": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "unauthorized access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/export401"
                }
              }
            }
          },
          "405": {
            "description": "method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/405Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/external/orders/status": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Sync status",
        "description": "This API runs a status sync which pulls out the changes in order status and syncs them in the panel",
        "operationId": "Sync status",
        "responses": {
          "204": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "unauthorized access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/export401"
                }
              }
            }
          },
          "405": {
            "description": "method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/405Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/external/orders/create/adhoc": {
      "post": {
        "tags": [
          "Create/Update Order"
        ],
        "summary": "Create Custom order",
        "description": "Pass all the required order fields to create a quick order. Quick order are the ones where we do not store the product details in master catalog.",
        "operationId": "Create Custom order",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateQuickOrderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateQuickOrderResponse"
                }
              }
            }
          },
          "403": {
            "description": "Unexpected error in API call. See HTTP response body for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/import403"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/external/orders/create": {
      "post": {
        "tags": [
          "Create/Update Order"
        ],
        "summary": "Create Channel Order",
        "description": "Shows the details of the order which needs to be created",
        "operationId": "Create linked order.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLinkedOrderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateLinkedOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error in API call. See HTTP response body for details.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Unexpected error in API call. See HTTP response body for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/import403"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/external/orders/address/pickup": {
      "patch": {
        "tags": [
          "Create/Update Order"
        ],
        "summary": "Change pikcup address",
        "description": "Charge the pickup address of an/multiple order/s.",
        "operationId": "ChangePickUpAddress",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangePickUpRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Address updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangePickUpResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/external/orders/fulfill": {
      "patch": {
        "tags": [
          "Create/Update Order"
        ],
        "summary": "Add inventory for order product",
        "description": "This API allows you to add inventory for order product by passing the order id and order product id",
        "operationId": "Fulfillment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FulfillmentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FulfillmentResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "unauthorized access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/export401"
                }
              }
            }
          },
          "405": {
            "description": "method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/405Error"
                }
              }
            }
          },
          "422": {
            "description": "#/definitions/login422Error",
            "content": {}
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/external/orders/mapping": {
      "patch": {
        "tags": [
          "Create/Update Order"
        ],
        "summary": "Map orders products",
        "description": "Map unmapped order products",
        "operationId": "Mapping",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MappingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MappingResponse"
                }
              }
            }
          },
          "401": {
            "description": "unauthorized access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/export401"
                }
              }
            }
          },
          "405": {
            "description": "method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/405Error"
                }
              }
            }
          },
          "422": {
            "description": "#/definitions/login422Error",
            "content": {}
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/external/orders/print/invoice": {
      "post": {
        "tags": [
          "Label | Manifests | Invoice"
        ],
        "summary": "Generate Invoice",
        "description": "Generates an invoice for an order through the **order id**. You can pass multiple order id’s as well, to generate their response",
        "operationId": "Generate invoice",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateInvoiceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GenerateInvoiceResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "unauthorized access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/export401"
                }
              }
            }
          },
          "405": {
            "description": "method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/405Error"
                }
              }
            }
          },
          "422": {
            "description": "#/definitions/login422Error",
            "content": {}
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/external/orders/address/update": {
      "post": {
        "tags": [
          "Create/Update Order"
        ],
        "description": "Update the customer’s delivery address by passing the order id in the given below API",
        "operationId": "Change address",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeAddressRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Address updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/external/orders/cancel": {
      "post": {
        "tags": [
          "Create/Update Order"
        ],
        "summary": "Cancel an order",
        "description": "Cancel the orders by passing their order ID’s in the given below API.",
        "operationId": "Cancel orders",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelOrdersRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Order cancel request taken",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelOrdersResponse"
                }
              }
            }
          },
          "204": {
            "description": "unprocessable input",
            "content": {}
          },
          "401": {
            "description": "unauthorized access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/export401"
                }
              }
            }
          },
          "405": {
            "description": "method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/405Error"
                }
              }
            }
          },
          "422": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/login422Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/external/orders/export": {
      "post": {
        "tags": [
          "Orders"
        ],
        "description": "Displays the URL of the CSV sheet of downloaded orders as a response",
        "operationId": "Export orders",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bulkExportResponse"
                }
              }
            }
          },
          "401": {
            "description": "unauthorized access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/export401"
                }
              }
            }
          },
          "405": {
            "description": "method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/405Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/external/orders/print/manifest": {
      "post": {
        "tags": [
          "Label | Manifests | Invoice"
        ],
        "summary": "Get manifest",
        "description": "Prints the manifest of the order id on the assumption that the manifest is created",
        "operationId": "Get manifests",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetManifestsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GetManifestsResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "unauthorized access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/export401"
                }
              }
            }
          },
          "404": {
            "description": "not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404Error"
                }
              }
            }
          },
          "405": {
            "description": "method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/405Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/external/manifests/print": {
      "post": {
        "tags": [
          "Label | Manifests | Invoice"
        ],
        "description": "Use this API to Get manifest of Orders on Individual level",
        "operationId": "print individual manifest",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/printManifestRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/printManifestResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/external/manifests/generate": {
      "post": {
        "tags": [
          "Label | Manifests | Invoice"
        ],
        "summary": "Generate Manifests",
        "description": "Generate Manifests for single order or bulk orders.\n\n&lowast;***This should be used if print manifest doesn't return any URL***&lowast;",
        "operationId": "generate manifest",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/generateManifestRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Manifests generated Successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/generateManifestResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/external/orders/import": {
      "post": {
        "tags": [
          "Create/Update Order"
        ],
        "summary": "Bulk Import",
        "description": "Import orders in bulk to your Shiprocket panel from a csv file",
        "operationId": "Bulk import2",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/external/orders/sample": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get sample format for Orders Import",
        "description": "Get sample format for Orders Import excel file",
        "operationId": "Bulk sample1",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/external/errors/{id}/check": {
      "get": {
        "tags": [
          "File Imports"
        ],
        "summary": "Get file import results from Bulk order, products, listing imports.",
        "description": "Check Import Response",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/fileImportResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/external/shipments": {
      "get": {
        "tags": [
          "Shipments"
        ],
        "summary": "Get shipment Details",
        "description": "Get details of all shipments\n\nBelow are the order status codes used: \n \n  Status Code | Description\n  ----- | -----\n  1 | Awb Assigned\n 2 | Label Generated\n 3 | Pickup Scheduled/Generated\n 4 | Pickup Queued\n 5 | Manifest Generated\n 6 | Shipped\n 7 | Delivered\n 8 | Cancelled\n 9 | RTO Initiated\n 10 | RTO Delivered\n 11 | Pending\n 12 | Lost\n 13 | Pickup Error\n 14 | RTO Acknowledged\n 15 | Pickup Rescheduled\n  16 | Cancellation Requested\n 17 | Out For Delivery\n 18 | In Transit\n 19 | Out For Pickup\n 20 | Pickup Exception\n 21 | Undelivered\n 22 | Delayed\n",
        "operationId": "Get all shipments",
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "description": "Sort type (DESC, ASC)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Field to sort by",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Filter value",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter_by",
            "in": "query",
            "description": "Field to filter by",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/external/shipments/{id}": {
      "get": {
        "tags": [
          "Shipments"
        ],
        "summary": "Get shipment Details of specific orders",
        "description": "Get details of specified shipment ID",
        "operationId": "Details",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The shipment id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DetailsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/external/inventory": {
      "get": {
        "tags": [
          "Inventory"
        ],
        "summary": "Get Details of orders with inventories",
        "description": "Checks the availability of inventory according to the SKU",
        "operationId": "Get inventories",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The page number which is to be displayed",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "The total number of products in each page in an integer format",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Whether to arrange the items in ascending or descending order",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Allows to choose the value field by which the items will be sorted. Could be sorted by id, by sku, time created etc.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetInventoriesResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/external/inventory/{id}/update": {
      "put": {
        "tags": [
          "Inventory"
        ],
        "summary": "Update Inventory",
        "description": "Through this API you can make changes to the inventory listings in your ShipRocket panel",
        "operationId": "Update inventory",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "You have to pass the product id of the inventory which is to be updated",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "quantity",
            "in": "query",
            "description": "The specific number which needs to be changed",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "action",
            "in": "query",
            "description": "Added = The number is added to the inventory\nReplace = The original number is replaced by the specific number\nRemove = The specific number is deducted from the opening number",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateInventoryResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/external/channels": {
      "get": {
        "tags": [
          "Channels"
        ],
        "summary": "Get all channels",
        "description": "The ShipRocket API for getting the data of all integrated channels in the ShipRocket account. ",
        "operationId": "Get all2",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/channelsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/external/courier/serviceability/": {
      "get": {
        "tags": [
          "Couriers"
        ],
        "summary": "Check Serviceability",
        "description": "Check for the list of available courier companies between pickup & delivery postcodes, along with the estimated delivery time in days and shipping charges. Here is the list of Courier Companies along with their id's:  \n\n Courier Name | Courier Id\n ----- | ----- \n BLUEDART | 1\n FEDEX | 2\n FEDEX PACKAGING* | 7\n DHL PACKET INTERNATIONAL* | 8\n DELHIVERY | 10\n FEDEX SURFACE | 12\n ECOMEXP | 14\nDOTZOT | 16\n XPRESSBEES | 33\n ARAMEX INTERNATIONAL* | 35 \n FEDEX YOUR PACK* | 36\n DHL PACKET PLUS* | 37\n DHL PARCEL DIRECT* | 38\n DELHIVERY SURFACE | 39\n GATI SURFACE | 40\n FEDEX FLAT RATE | 41\n FEDEX SURFACE LIGHT | 42\n DELHIVERY SURFACE STANDAR | 43\n DELHIVERY SURFACE LITE | 44\n ECOMEXP REVERSE** | 45\n SHADOW FAX REVERSE** | 46\n ECOM INTERNATIONAL* | 47\n *marked ouriers are for International Shipments\n **  marked Couriers are for return Shipments",
        "operationId": "Check serviceability",
        "parameters": [
          {
            "name": "pickup_postcode",
            "in": "query",
            "description": "The pincode of the location from where the shipment is supposed to be picked up, in an integer format",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "delivery_postcode",
            "in": "query",
            "description": "The pincode of the location where the shipment is supposed to be delivered, in an integer format",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "length",
            "in": "query",
            "description": "Length in meters",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "breadth",
            "in": "query",
            "description": "breadth in meters",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "height",
            "in": "query",
            "description": "height in meters",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "weight",
            "in": "query",
            "description": "Shipment weight, in kgs",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cod",
            "in": "query",
            "description": "If cash on delivery is required or not. Required =1, Prepaid =0",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "declared_value",
            "in": "query",
            "description": "Price of the order",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "mode",
            "in": "query",
            "description": "Surface/Air",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order_id",
            "in": "query",
            "description": "Order id of the shipment",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of serviceable courier compnies along with pricing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckServiceabilityResponse"
                }
              }
            }
          },
          "404": {
            "description": "Postcode is not serviceable by SHIPROCKET",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckServiceabilityError"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/external/courier/international/serviceability": {
      "get": {
        "tags": [
          "Couriers"
        ],
        "summary": "International Serviceability Check",
        "description": "Check the shipping serviceability options for international orders",
        "operationId": "International Serviceability Check",
        "parameters": [
          {
            "name": "weight",
            "in": "query",
            "description": "Approx weight of the shipment",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cod",
            "in": "query",
            "description": "it must be 0, COD orders are not serviceable for international shipping",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "delivery_country",
            "in": "query",
            "description": "Destination Country CODE (alpha-2 code), for example, US for United State",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order_id",
            "in": "query",
            "description": "In case the order is already created, pass the shiprocket order id",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pickup_postcode",
            "in": "query",
            "description": "In case you got a different pickup postcode other than that of Primary pickup address",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternationalServiceabilityResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/external/courier/assign/awb": {
      "post": {
        "tags": [
          "Couriers"
        ],
        "summary": "AWB Creation",
        "description": "The ShipRocket API for generating the Air Waybill number for your shipment. You can get a single AWB. It also gives you the option to reassign the AWB number",
        "operationId": "Awb Creation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AwbCreationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AwbCreationResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AwbError500"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/external/courier/generate/pickup": {
      "post": {
        "tags": [
          "Couriers"
        ],
        "summary": "Request for PickUp",
        "description": "The API returns the pickup status along with the estimated pickup time. You have to call the generate Manifest API after the success response of this API.",
        "operationId": "Pickup creation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PickupCreationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PickupCreationResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error in API call. See HTTP response body for details.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/external/courier/generate/label": {
      "post": {
        "tags": [
          "Label | Manifests | Invoice"
        ],
        "summary": "Generate Label",
        "description": "Get a label URL. Note:- For label URL, AWB code must be assigned on shipment id.",
        "operationId": "Generate Label",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateLabelRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateLabelResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error in API call. See HTTP response body for details.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/external/courier/track/awb/{awb_code}": {
      "get": {
        "tags": [
          "Tracking"
        ],
        "summary": "Get AWB tracking Details",
        "description": "Get a JSON of tracking data by AWB. \n \n Shipment Status | Description\n  ----- | -----\n  1 | Awb Assigned\n 2 | Label Generated\n 3 | Pickup Scheduled/Generated\n 4 | Pickup Queued\n 5 | Manifest Generated\n 6 | Shipped\n 7 | Delivered\n 8 | Cancelled\n 9 | RTO Initiated\n 10 | RTO Delivered\n 11 | Pending\n 12 | Lost\n 13 | Pickup Error\n 14 | RTO Acknowledged\n 15 | Pickup Rescheduled\n  16 | Cancellation Requested\n 17 | Out For Delivery\n 18 | In Transit\n 19 | Out For Pickup\n 20 | Pickup Exception\n 21 | Undelivered\n 22 | Delayed\n",
        "operationId": "AWB Tracking",
        "parameters": [
          {
            "name": "awb_code",
            "in": "path",
            "description": "awb code",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AwbTrackingResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error in API call. See HTTP response body for details.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/external/courier/track/shipment/{shipment_id}": {
      "get": {
        "tags": [
          "Tracking"
        ],
        "summary": "Get shipment Tracking Details",
        "description": "Get a JSON of tracking data by Shipment id. \n \n Shipment Status | Description\n  ----- | -----\n  1 | Awb Assigned\n 2 | Label Generated\n 3 | Pickup Scheduled/Generated\n 4 | Pickup Queued\n 5 | Manifest Generated\n 6 | Shipped\n 7 | Delivered\n 8 | Cancelled\n 9 | RTO Initiated\n 10 | RTO Delivered\n 11 | Pending\n 12 | Lost\n 13 | Pickup Error\n 14 | RTO Acknowledged\n 15 | Pickup Rescheduled\n  16 | Cancellation Requested\n 17 | Out For Delivery\n 18 | In Transit\n 19 | Out For Pickup\n 20 | Pickup Exception\n 21 | Undelivered\n 22 | Delayed\n",
        "operationId": "Shipment Tracking",
        "parameters": [
          {
            "name": "shipment_id",
            "in": "path",
            "description": "Shipment ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentTrackingResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error in API call. See HTTP response body for details.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/external/billing/discrepancy": {
      "get": {
        "tags": [
          "Discrepancy"
        ],
        "summary": "Get discrepancy Details",
        "description": "Get discrepancy data",
        "operationId": "Discrepancy",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscrepancyResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/external/account/details/statement": {
      "get": {
        "tags": [
          "Statement"
        ],
        "summary": "Get statement Details",
        "description": "Get statements data",
        "operationId": "Satement",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number of data to display",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of orders to get per request",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "To date",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "From date",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search for AWB or Channel Order ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "export",
            "in": "query",
            "description": "Export the data in csv format",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatementResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/external/shipments/create/forward-shipment": {
      "post": {
        "tags": [
          "Wrapper API"
        ],
        "summary": "Create and Ship Order along with label & manifest generation",
        "description": "Create and Ship Order along with label & manifest generation",
        "operationId": "forward-shipment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateForwardOrderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateForwardOrderResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/external/courier/track/awbs": {
      "post": {
        "tags": [
          "Couriers"
        ],
        "summary": "Get tracking data for multiple awbs upto 50 awbs at once",
        "description": "Get tracking data for multiple awbs",
        "operationId": "bulk-tracking",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkTrackingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkTrackingResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "GetManifestsResponse": {
        "title": "Get manifests response",
        "required": [
          "data"
        ],
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "description": "Displays the url of a pdf file with the manifest",
            "items": {
              "type": "string",
              "example": "https://s3-ap-southeast-1.amazonaws.com/kr-multichannel/1/manifest/MAN-00212.pdf"
            }
          }
        }
      },
      "GetTokenRequest": {
        "title": "Get token request",
        "required": [
          "email",
          "password"
        ],
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "Prompts the user to type their email id",
            "example": "abcd@xyz.com"
          },
          "password": {
            "type": "string",
            "description": "Prompts the user to type their selected password",
            "example": "abcd1234"
          }
        }
      },
      "AddPickupResponse": {
        "title": "Add a new Pickup Address",
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "MappingResponse": {
        "title": "Mapping response",
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "status_code": {
              "type": "integer",
              "format": "int32",
              "example": 0
            },
            "data": {
              "type": "object",
              "properties": {
                "order_product_id": {
                  "type": "integer",
                  "example": 321
                },
                "master_sku": {
                  "type": "string",
                  "example": "H3HEDE"
                },
                "order_id": {
                  "type": "integer",
                  "example": 123
                }
              }
            },
            "success": {
              "type": "boolean",
              "example": false
            },
            "message": {
              "type": "string",
              "example": "No product found matching this master sku"
            }
          }
        }
      },
      "ChangePickUpRequest": {
        "title": "Request Format for change pickup address API",
        "required": [
          "order_id",
          "pickup_location"
        ],
        "type": "object",
        "properties": {
          "order_id": {
            "type": "array",
            "description": "The order id's to change the pickup location.",
            "example": [
              123,
              456,
              789
            ],
            "items": {
              "type": "integer"
            }
          },
          "pickup_location": {
            "type": "string",
            "description": "New pickup location name for the given orders",
            "example": "Primary"
          }
        }
      },
      "addProduct422": {
        "title": "unprocessable data",
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "There were errors in adding new product!"
          },
          "errors": {
            "type": "object",
            "properties": {
              "name": {
                "type": "array",
                "example": "The name field is required.",
                "items": {
                  "type": "string"
                }
              },
              "type": {
                "type": "array",
                "example": "The type field is required.",
                "items": {
                  "type": "string"
                }
              },
              "sku": {
                "type": "array",
                "example": "The sku field is required.",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "status_code": {
            "type": "integer",
            "example": 422
          }
        }
      },
      "PickupCreationResponse": {
        "title": "Pickup creation response",
        "type": "object",
        "properties": {
          "pickup_status": {
            "type": "integer",
            "description": "Status if the package has been picked up or not",
            "format": "int32"
          },
          "message": {
            "type": "string",
            "description": ""
          },
          "response": {
            "type": "object",
            "properties": {
              "data": {
                "type": "string"
              }
            },
            "description": ""
          },
          "manifest_url": {
            "type": "string",
            "description": "Url of the pdf file which shows the pickup manifest which has been created"
          }
        }
      },
      "FulfillmentRequest": {
        "title": "Fulfillment request",
        "required": [
          "data"
        ],
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "order_product_id": {
                  "type": "integer",
                  "example": 321
                },
                "quantity": {
                  "type": "string",
                  "example": "1"
                },
                "action": {
                  "type": "string",
                  "example": "add"
                },
                "order_id": {
                  "type": "integer",
                  "example": 123
                }
              }
            }
          }
        }
      },
      "DetailsResponse": {
        "title": "Details response",
        "required": [
          "data"
        ],
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {}
          }
        }
      },
      "channelsResponse": {
        "title": "get channels response",
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "settings": {
                  "type": "object",
                  "properties": {
                    "order_status": {
                      "type": "string",
                      "description": "",
                      "example": "Pending, COD"
                    },
                    "weight": {
                      "type": "integer",
                      "description": "",
                      "example": 0
                    },
                    "dimensions": {
                      "type": "string",
                      "description": "",
                      "example": "0x0x0"
                    }
                  },
                  "description": "Channel Settings"
                },
                "orders_sync": {
                  "type": "integer",
                  "description": "Syncing On / Off",
                  "example": 1
                },
                "orders_synced_on": {
                  "type": "string",
                  "description": "Last Order Sync date or some message",
                  "example": "13 Apr 11:15 AM"
                },
                "base_channel": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "",
                      "example": "CS"
                    },
                    "settings_sample": {
                      "type": "object",
                      "properties": {
                        "help": {
                          "type": "string",
                          "description": "",
                          "example": "help"
                        },
                        "settings": {
                          "type": "array",
                          "description": "",
                          "items": {
                            "type": "object",
                            "properties": {
                              "order_status": {
                                "type": "object",
                                "properties": {
                                  "code": {
                                    "type": "string",
                                    "description": "",
                                    "example": "order_status"
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "Name for reference",
                                    "example": "Status to fetch"
                                  },
                                  "placeholder": {
                                    "type": "string",
                                    "description": "",
                                    "example": "processing, on-hold etc"
                                  },
                                  "type": {
                                    "type": "string",
                                    "description": "",
                                    "example": "text"
                                  }
                                },
                                "description": ""
                              }
                            }
                          }
                        },
                        "name": {
                          "type": "string",
                          "description": "",
                          "example": "Channel Settings"
                        }
                      },
                      "description": ""
                    },
                    "name": {
                      "type": "string",
                      "description": "Channel Name",
                      "example": "Manual"
                    },
                    "logo": {
                      "type": "string",
                      "description": "Logo for channel",
                      "example": "channel.png"
                    },
                    "description": {
                      "type": "string",
                      "description": "",
                      "example": ""
                    },
                    "id": {
                      "type": "integer",
                      "description": "",
                      "example": 4
                    },
                    "type": {
                      "type": "string",
                      "description": "type of channel",
                      "example": "Carts"
                    },
                    "auth_sample": {
                      "type": "object",
                      "properties": {
                        "api_info": {
                          "type": "object",
                          "properties": {
                            "help": {
                              "type": "string",
                              "description": "",
                              "example": "Provide credentials to integrate the channel"
                            },
                            "settings": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "code": {
                                    "type": "string",
                                    "description": ""
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": ""
                                  },
                                  "placeholder": {
                                    "type": "string",
                                    "description": ""
                                  }
                                },
                                "example": [
                                  {
                                    "code": "store_url",
                                    "name": "Store Url",
                                    "placeholder": "e.g. https://abc/example.com"
                                  },
                                  {
                                    "code": "api_username",
                                    "name": "API Username",
                                    "placeholder": "a1b2c3d4"
                                  },
                                  {
                                    "code": "api_key",
                                    "name": "api key",
                                    "placeholder": "abcd1234"
                                  }
                                ]
                              }
                            },
                            "name": {
                              "type": "string",
                              "description": "",
                              "example": "Manual"
                            }
                          },
                          "description": ""
                        }
                      },
                      "description": "The various keys required for the channel integration"
                    }
                  },
                  "description": ""
                },
                "auth": {
                  "type": "array",
                  "description": "",
                  "items": {
                    "type": "object",
                    "properties": {
                      "api_username": {
                        "type": "string",
                        "example": "Hell0W012Ld"
                      },
                      "api_key": {
                        "type": "string",
                        "description": "",
                        "example": "helloworld"
                      },
                      "store_url": {
                        "type": "string",
                        "description": "store web address",
                        "example": "https://test.example.com"
                      }
                    }
                  }
                },
                "name": {
                  "type": "string",
                  "description": "",
                  "example": "Manual"
                },
                "inventory_sync": {
                  "type": "integer",
                  "description": "Inventory Sync On / Off",
                  "example": 0
                },
                "base_channel_code": {
                  "type": "string",
                  "description": "The two letter code for the respective channels. Please note that the “Manual” channel",
                  "example": "CS"
                },
                "id": {
                  "type": "integer",
                  "description": "The respective channel id’s of the various channels which are to be integrated with the ShipRocket panel.",
                  "example": 1234
                },
                "inventory_synced_on": {
                  "type": "string",
                  "description": "Last Inventory Sync date or some message",
                  "example": "13 Apr 11:15 AM"
                },
                "connections": {
                  "type": "integer",
                  "description": "",
                  "example": 1
                },
                "status": {
                  "type": "string",
                  "description": "",
                  "example": "Active"
                }
              }
            }
          }
        }
      },
      "AddRequest": {
        "title": "Add request",
        "required": [
          "brand",
          "category_code",
          "color",
          "components",
          "cost_price",
          "description",
          "ean",
[...]
